*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    font-size: 20px;background-color:#1b1f22;
}

header{
    height: 100vh;
    background-color:rgb(129, 113, 194);
}

header h1{
    color: #f0f8ff;margin: 0%;
}

h1{
    font-size: 50px;
    color: #2196f3;
}

.button{
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover{
    color:white;
    background-color:rgb(4, 4, 4);
}

img{
    height: 500px;
    image float:left: ;;
}

main{
    padding: 20px;

}

section{
    height: 100vh;
    border: 1px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color:rgb(192, 204, 216);
}

.submit:hover{
    color: white;
    background-color:antiquewhite  ;
    border-radius: 10px;
    
}

input{
    border-radius:10px;
    border: 1px solid lightgrey;
    height: 20px;
}

.fixedbutton{
    cursor: pointer;
    position:fixed;
    bottom: 10px;
    right: 30px;
    height=70px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: green;
}

footer:hover{

    height: 125px;
    background-color:black;
    color: lightgrey;
    
}
